html {

}

* {
  font-family: 'Oswald';
  padding: 0;
  margin: 0;
}

body {
  display: flex;
}

div.left-block {
  display: flex;
  flex-direction: column;
  flex: 3;

}

div.right-block {
  flex: 2;
}

img {
  width: 100%;
}

div.header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #142c50;
  flex: 2;
}

div.footer-block {
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #46aaad;
  flex: 1;
}

button {
  border: none;
  color: white;
  background: black;
}

input {
  border: none;
}

div.form {
  margin: 32px;
  display: flex;
}

h1 {
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

h6 {
  margin-bottom: 24px;
  color: #d1d3d4;
}

input, button {
  font-size: 24px;
  padding: 16px;
}
